<div class="escritas">
    <p><img src="../../assets/right-arrow.png" alt="">Sobre a Desenvolvedora</p><br>
    <p><img src="../../assets/right-arrow.png" alt="">Apex Ensino</p><br>
    <p><img src="../../assets/right-arrow.png" alt="">Trabalhe Conosco</p>
</div>

<div class="links">
    <a href="https://www.instagram.com/ally.whiteflower/" target="_blank"><img src="../../assets/instagram (1).png" alt=""></a>
    <a href="https://www.youtube.com/" target="_blank"><img src="../../assets/youtube.png" alt=""></a>
    <a href="https://github.com/ni-nick?tab=repositories" target="_blank"><img src="../../assets/github.png" alt=""></a>

</div>

