<h2>O que é a Coffee Code?</h2>
<p>A Coffee Code é literalmente um lugar onde você vai para tomar um café e programar, mas é ai que ta a mágica.
    Não é só um lugar.
    <br>
    É um ambiente super aconchegante feito para nossos programadores. Você pode levar seu notebook e finalmente
    tirar suas ideias do papel e colocar no seu código,
    compartilhar suas ideia com outros programadores e tudo isso acompanhado dos melhores cafés da região.
    <br>
    Me diz ai, que programador não gosta de <span style="font-style: italic;">codar</span> tomando um delicioso café?
    <br>
    Se você ainda não é um programador(a) venha conhecer a Coffee Code também, <br>te garanto que você vai se apaixonar
    pelo nosso ambiente e principalmente por esse mundo louco da programação.
    <br>
    Programadores, vocês estão oficialmente convidados a conhecer a Coffe Code.<br>
    Espero por vocês. 
</p>
<div>
    <img [src]="img" alt="">
</div>

<div class="title">
    <h3>Playlists para você curtir!</h3>
</div>

<div class="video">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/0PDo1-nwJlQ" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
</div>
