<h2>Currículo da Desenvolvedora</h2>
<form>
    <fieldset>
        <legend>Nicolle Maurer</legend>
        <br>
            <h3>Contato</h3>
            <label for="tel" class="label">WhatsApp:</label>
            <label for="number"> (47) 98412-6980</label>
            <br>
            <label for="endereco" class="label">Endereço:</label>
            <label for="endNumber"> Rua Bolívia, 128</label>
            <br>
            <label for="git" class="label">GitHub:</label>
            <a href="https://github.com/ni-nick?tab=repositories" target="_blank"> repositories gitHub</a>
            <br><br>
            
            <h3>Histórico Academico</h3>
            <label for="nome" class="label">IFSC - Instituto Federal de Santa Catarina</label>
            <br>
            <label for="ensinoMedio">Ensino médio | Concluído</label>
            <br><br>

            <label for="nome" class="label">IFSC - Instituto Federal de Santa Catarina</label>
            <br>
            <label for="curso">Tecnico em informática | Concluído</label>
            <br><br>

            <label for="nome" class="label">Apex Ensino</label>
            <br>
            <label for="curso2">Formação Front-end | Concluído</label>
            <br><br>

            <label for="nome" class="label">Wizard Idiomas</label>
            <br>
            <label for="curso2">Inglês | Em andamento</label>
            <br><br>

            <h3>Histórico Profissional</h3>
            <label for="nome" class="label">NBW Digital</label>
            <br>
            <label for="trab1">Desenvolvedora de Sistemas Jr.</label>
            <br><br>
            
            <label for="nome" class="label">Mundo Infantil Store</label>
            <br>
            <label for="trab1">Assistente de Marketing</label>
            <br><br>

            <label for="nome" class="label">Mundo Infantil Store</label>
            <br>
            <label for="trab2">Assistente Front-end</label>
            <br><br>

            
    </fieldset>
</form>
