app-header{
    grid-area: header;
    height: 10vh;
    background-color: #000000;
    padding: 20px 20px 10px 10px;
    /* position: fixed; */
}

app-nav{
    text-align: center;
    grid-area: nav;
    height: 55vh;
    background-color: black;
    padding: 10px;
}

app-aside{
    grid-area: aside;
    background: #ffa800;
    width: 25em;
    display: block;
    text-align: center;
    padding: 20px;
}

/* app-main{
    grid-area: main;
    background-color: #000000;
    padding: 20px;

} */

app-footer{
    grid-area: footer;
    height: 10vh;
    background-color: black;
    padding: 20px;
}

.main{
    grid-area: main;
    margin-left: auto;
    margin-right: auto;
}